body {
    background-color: #F8D8CD;
  }
  #title {
    font-size: 40px;
    text-align: center;
    padding: 30px;
    font-family: Serif; 
    background-color: #F8D8CD;
  }
  #img-div {
    background-color: #F8D8CD;
    max-width: 100%;
    height: auto;
    display: block;
  }
  #image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #img-caption {
    padding: 10px;
    text-align: center;  
  }
  #info-head {
    color: dark-grey;
    background-color: #FEF6EA;
    padding: 20px;
    text-align: center;
    font-family: Helvetica, Arial, Serif;
    word-spacing: 1px;
  }
  #tribute-info {
    color: dark-grey;
    background-color: #FEF6EA;
    font-family: Helvetica, Arial, Serif;
    word-spacing: 3px;
    text-align: center;
    padding: 15px;
  }
  #tribute-link {
    text-decoration: none;
    position: center;
    color: teal; 
    background-color: #F8D8CD;
  }
  #tribute-link:hover {
    color: grey;
  } 